/* Resonsive */
@media only screen and (max-width: 800px) {
    /* For tablets: */
    ul {
      width: 46%;
    }
  
    .intro {
      padding: 20px;
    }
  
    .detail-heading {
      font-size: 28px;
    }
    .detail-subheading {
      font-size: 20px;
    }
    .deatil-loc {
      font-size: 20px;
    }
  
    .hero-img {
      width: 14rem;
      height: unset;
    }
  
    .skills {
      display: block;
      align-items: center;
      justify-content: space;
      font-size: 20px;
      margin-top: 40px;
      padding: 10px 36px;
    }
  
    .about {
      padding: 20px;
    }
  
    .project {
      padding: 20px;
      text-align: center;
    }
  
    .contact {
      padding: 20px;
      text-align: center;
    }
  
    .contact-info {
      display: block;
      align-items: center;
      margin: auto;
    }
  
    .contact-item {
      margin: auto;
    }
    .footer {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .nav-title {
      font-size: 18px;
    }
    ul {
      width: 65%;
    }
  
    .intro {
      padding: 20px;
    }
  
    .detail-heading {
      font-size: 16px;
    }
    .detail-subheading {
      font-size: 10px;
    }
    .deatil-loc {
      font-size: 10px;
    }
  
    .hero-img {
      width: 10rem;
      height: unset;
    }
  
    .about {
      text-align: center;
      display: block;
      margin: auto;
    }
  
    .about-title {
      font-size: 16px;
    }
  
    .about-subtitle {
      font-size: 14px;
    }
  
    .skills {
      display: block;
      align-items: center;
      justify-content: space;
      font-size: 20px;
      margin-top: 40px;
      padding: 10px 36px;
    }
  
    .about {
      padding: 20px;
    }
  
    .project {
      padding: 20px;
      text-align: center;
    }
  
    .card {
      display: block;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .col-1 {
      width: 100%;
      margin: auto;
    }
    .col-2 {
      width: 100%;
      margin: auto;
    }
  
    .contact-item {
      margin-left: -4px;
    }
  
    .contact {
      padding: 20px;
      text-align: center;
    }
  
    .contact-info {
      display: block;
      align-items: center;
      margin: auto;
    }
    .footer {
      padding-left: 20px;
      padding-right: 20px;
      display: block;
      text-align: center;
      margin: auto;
    }
    .footer .right {
      margin: auto;
    }
  
    .about-detail {
      margin-top: 34px;
    }
  }
  